* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  ol,
  ul,
  menu {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .container {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  } 
 /* ------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------homae------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
.home{
  height: 100vh;
  position: relative;
  z-index: 1;
}
.home::before{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 75px;
}
.nav__list{
  display: flex;
}

.nav__item{
  margin-right: 30px;
}

.nav__item:last-child{
  margin-right: 0px;
}
.nav__link{
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  transition: color 0.7s linear;
} 

.nav__link:hover{
  color: #43bd13;
}
.home__inner{
  max-width: 640px;
  width: 100%;
  height: calc(100vh - 218px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home__title{
  font-size: 48px;
  line-height: 65px;
}
.home__subtitle{
  font-weight: 600;
  font-size: 90px;
  line-height: 123px;
}
.home__link{
  font-weight: 700;
  font-size: 10px;
  line-height: 25px;
  display: block;
  text-align: center;
}